
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title></title>
    <meta name="description"
    content="[18 - 25/12] Đón Giáng Sinh sale sốc tới 50% - Cơ hội mua 1 tặng 1 và hàng ngàn ưu đãi từ 99k">
    <meta property="og:image" content="../img/banner-giang-sinh.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <script src="https://hoanghamobile.com/Content/web/js/jquery-3.5.1.min.js"></script>
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/webpack-runtime.07e87855c111e75b.js" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5995.521501dbd0b2f35b.js" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/bundle.191ea7b6f0379e1e.js" data-modern="true">
    <link rel="stylesheet" href="../js-css/bootstrap.min.css">
    <link rel="stylesheet" href="../js-css/style.css">
    <link rel="stylesheet" href="../js-css/ladding.css">
    <link rel="stylesheet" href="../js-css/index.css">
    <link rel="stylesheet" href="https://hoanghamobile.com/Content/tetOngTao/js-css/swiper-bundle.min.css">
    <style>
        .d-none-important {
            display: none !important;
        }

        .d-block-important {
            display: block !important;
        }

        .sanpham_sale {
            position: absolute;
            top: 200px;
            left: 5px;
            background: #ff6801;
            border-radius: 40px;
            width: 75%;
            /* padding: 0; */
            padding: 5px 5px;
            margin: 0;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            /* height: 17px; */
            text-align: center;
            display: none;
        }

        .note p {
            font-size: max(0.8375vw,12px);
            margin-top: 0.3125vw;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: white;
            display: box;
            /* display: -webkit-box; */
            font-weight: 400;
            line-height: 1.25;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: inherit;
            word-break: break-word;
        }
        #countdown {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.banner-img{
    background-image: url("../img/background banner.jpg");
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 80px;
    margin-top: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
}
    </style>


<main class="main-content site-main">
    <div class="content-v1">
        <section class="feature-section feature-one">
            <picture>
                <!-- Hình ảnh mặc định khi không có điều kiện nào được đáp ứng -->
                <img class="Flip-feature-one-banner w-100"
                     src="../img/banner-giang-sinh.png" alt="hình ảnh banner">
            </picture>
        </section>
    </div>


    <section class="max-w-1200px position-relative d-flex-center" role="grid">

        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img class="image-icon-banner" src="../img/icon banner.png"
                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">HOT Smartphone</span>
            </div>
        </section>
    </section>
    <section class="w-100 flex-column-center ">
        <div class="banner-img">
            <div id="countdown"></div>
        </div>
        <div class="site-grid site-grid--medium site-grid--half-quarter max-w-1200px" role="grid">
            <div class="site-goods-sku site-goods-sku--quarter">
                <div class="site-goods-sku__image">
    
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/27/samsung-galaxy-a05-4.png?"
                                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3682">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy A05 - 4GB/128GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
            <div class="site-goods-sku site-goods-sku--quarter ">
                <div class="site-goods-sku__image">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/27/samsung-galaxy-a05-4.png?"
                                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3683">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy A05S - 4GB/128GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05s-4gb-128gb-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
            <div class="site-goods-sku site-goods-sku--quarter ">
                <div class="site-goods-sku__image">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/27/samsung-galaxy-a05-4.png?"
                                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3435">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy Z Flip5 8GB/256GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-z-flip5-256gb-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
            <div class="site-goods-sku site-goods-sku--quarter">
                <div class="site-goods-sku__image">
                    <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                        <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/07/26/fold-5-chinh-thuc-2.png?"
                             alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                    </picture>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3539">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy Z Fold5 12GB/512GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-z-fold5-256gb-12gb-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
    
            <div class="site-goods-sku site-goods-sku--quarter">
                <div class="site-goods-sku__image">
    
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/27/samsung-galaxy-a05-4.png?"
                                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3682">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy A05 - 4GB/128GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
            <div class="site-goods-sku site-goods-sku--quarter ">
                <div class="site-goods-sku__image">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/27/samsung-galaxy-a05-4.png?"
                                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3683">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy A05S - 4GB/128GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05s-4gb-128gb-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
            <div class="site-goods-sku site-goods-sku--quarter ">
                <div class="site-goods-sku__image">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-a05-chinh-hang?buy=1">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/27/samsung-galaxy-a05-4.png?"
                                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                        </picture>
                    </a>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3435">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy Z Flip5 8GB/256GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-z-flip5-256gb-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
            <div class="site-goods-sku site-goods-sku--quarter">
                <div class="site-goods-sku__image">
                    <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                        <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/07/26/fold-5-chinh-thuc-2.png?"
                             alt="Xiaomi Robot Vacuum E10" loading="lazy" />
                    </picture>
                </div>
                <div class="sanpham_sale" id="idsanpham_sale_3539">
    
                </div>
                <div class="site-goods-sku__info">
                    <h4 class="site-goods-sku__subtitle">Samsung Galaxy Z Fold5 12GB/512GB</h4>
                    <div class="flex-column-center w-100 gap-1px">
                        <ul id="idsanpham_3682" class="site-goods-sku__title price-end">24.990.000 ₫</ul>
                        <ul id="idsanpham_price_before_discount_3682" class="site-goods-sku__title text-decoration-line-through price-start">24.990.000 ₫</ul>
                    </div>
                </div>
                <div class="site-goods-sku__actions">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/samsung-galaxy-z-fold5-256gb-12gb-chinh-hang?buy=1"
                       class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
    
            </div>
        </div>
    </section>



    <section class="max-w-1200px position-relative d-flex-center" role="grid">
        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img class="image-icon-banner" src="../img/icon banner.png"
                 alt="Xiaomi Robot Vacuum E10" loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">HOT Smartphone</span>
            </div>
        </section>
    </section>

    <section class="site-grid site-grid--medium site-grid--half-quarter max-w-1200px" role="grid">
        <div class="site-goods-sku site-goods-sku--half">
            <div class="site-goods-sku__image">
                <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-plus-blue-pure-back-iphone-15-plus-blue-pure-front-2up-screen-usen.png?"
                         alt=" iPhone 15 (128GB)" loading="lazy" />
                </picture>
            </div>
            <div class="sanpham_sale" id="idsanpham_sale_3692">

            </div>
            <div class="site-goods-sku__info">
                <h4 class="site-goods-sku__subtitle"> iPhone 15 (128GB)</h4>
                <ul id="idsanpham_3692" class="site-goods-sku__title"></ul>
                <ul id="idsanpham_price_before_discount_3692" class="site-goods-sku__title text-decoration-line-through"></ul>
            </div>
            <div class="site-goods-sku__actions">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/apple-iphone-15-128gb-chinh-hang-vn-a?buy=1"
                   class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                    <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                </a>
            </div>

        </div>
        <div class="site-goods-sku site-goods-sku--half">
            <div class="site-goods-sku__image">
                <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-plus-blue-pure-back-iphone-15-plus-blue-pure-front-2up-screen-usen.png?"
                         alt="iPhone 15 Plus (128GB)" loading="lazy" />
                </picture>
            </div>
            <div class="sanpham_sale" id="idsanpham_sale_3693">

            </div>
            <div class="site-goods-sku__info">
                <h4 class="site-goods-sku__subtitle">iPhone 15 Plus (128GB)</h4>
                <ul id="idsanpham_3693" class="site-goods-sku__title"></ul>
                <ul id="idsanpham_price_before_discount_3693" class="site-goods-sku__title text-decoration-line-through"></ul>
            </div>
            <div class="site-goods-sku__actions">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/apple-iphone-15-plus-128gb-chinh-hang-vn-a?buy=1"
                   class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                    <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                </a>
            </div>

        </div>
        <div class="site-goods-sku site-goods-sku--half">
            <div class="site-goods-sku__image">
                <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-finish-select-202309-6-7inch-naturaltitanium-removebg-preview-1.png?"
                         alt="iPhone 15 Pro (128GB)" loading="lazy" />
                </picture>
            </div>
            <div class="sanpham_sale" id="idsanpham_sale_3695">

            </div>
            <div class="site-goods-sku__info">
                <h4 class="site-goods-sku__subtitle">iPhone 15 Pro (128GB)</h4>
                <ul id="idsanpham_3695" class="site-goods-sku__title"></ul>
                <ul id="idsanpham_price_before_discount_3695" class="site-goods-sku__title text-decoration-line-through"></ul>
            </div>
            <div class="site-goods-sku__actions">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/apple-iphone-15-pro-128gb-chinh-hang-vn-a?buy=1"
                   class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                    <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                </a>
            </div>

        </div>

        <div class="site-goods-sku site-goods-sku--half">
            <div class="site-goods-sku__image">
                <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png?"
                         alt="iPhone 15 Pro Max (256GB) " loading="lazy" />
                </picture>
            </div>
            <div class="sanpham_sale" id="idsanpham_sale_3694">

            </div>
            <div class="site-goods-sku__info">
                <h4 class="site-goods-sku__subtitle">iPhone 15 Pro Max (256GB) </h4>
                <ul id="idsanpham_3694" class="site-goods-sku__title"></ul>
                <ul id="idsanpham_price_before_discount_3694" class="site-goods-sku__title text-decoration-line-through"></ul>
            </div>
            <div class="site-goods-sku__actions">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/apple-iphone-15-pro-max-256gb-chinh-hang-vn-a?buy=1"
                   class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                    <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                </a>
            </div>

        </div>

    </section>

</main>

<script src="../js/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 8, // Số lượng slide hiển thị trên thanh trượt
    spaceBetween: 10, // Khoảng cách giữa các slide
    freeMode: true // Chế độ tự do (có thể cuộn không giới hạn)
    // freeMode: true,
    // watchSlidesProgress: ,
});
var swiper2 = new Swiper(".mySwiper2", {
    loop: true,
    spaceBetween: 10,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    thumbs: {
        swiper: swiper,
    },
});
</script>

<script>
    // Tính thời gian còn lại đến ngày Giáng sinh
function countdownToChristmas() {
  const christmasDate = new Date('2023-12-25T00:00:00');
  const currentDate = new Date();

  const difference = christmasDate.getTime() - currentDate.getTime();

  // Tính số ngày, giờ, phút và giây còn lại
  const days = Math.floor(difference / (1000 * 60 * 60 * 24));
  const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
  const seconds = Math.floor((difference % (1000 * 60)) / 1000);

  // Hiển thị thời gian còn lại trong phần tử HTML có ID là "countdown"
  document.getElementById('countdown').innerHTML = `Thời gian còn lại đến Giáng sinh:<br>${days} ngày, ${hours} giờ, ${minutes} phút, ${seconds} giây`;
}

// Gọi hàm để bắt đầu đếm ngược
countdownToChristmas();

// Cập nhật thời gian mỗi giây
setInterval(countdownToChristmas, 1000);

</script>
